.calculadora { 
border: 3px black solid; 
width: 300px;
text-align: center;
background-color: #e2ed4b; 
}


#textoSuperior { 
    width: 250px; 
    border: 5px black solid; 
    position: relative; 
    left: 20px;  
    padding: 3px;
    background-color: white; 
    text-align: right; 
    margin-top: 10px;
}

#superior [type=button]{
    margin-right:1px;
    margin-left:1px;
    width: 70px;
    font-weight: bold;
}

#inferior [type=button]{
    font-weight: bold;
    width: 35px;
}

.noNumerales { 
    color: red;
}
